@model IEnumerable<ReversiMvcApp.Models.Speler>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AantalGewonnen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AantalVerloren)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AantalGelijk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rol)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AantalGewonnen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AantalVerloren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AantalGelijk)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rol)
            </td>
            <td>
                @if (User.IsInRole("Beheerder"))
                {
                        <a asp-action="Details" asp-route-id="@item.Guid">Rol aanpassen</a>
                }
                |
                @if (User.IsInRole("Beheerder") || User.IsInRole("Mediator"))
                {
                        <a asp-action="Manage" asp-route-id="@item.Guid">Beheren</a>
                }
                |
                @if (User.IsInRole("Beheerder"))
                {
                        <a asp-action="Edit" asp-route-id="@item.Guid">Bewerken</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
