@model ReversiMvcApp.Models.Spel

@section Scripts {
    <script type="text/javascript" src="~/js/app.js"></script>
    <script type="text/javascript" src="~/js/signalr/dist/browser/signalr.min.js"></script>
}

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Spel</h4>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Token)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Token)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Speler1token)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Speler1token)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Speler2token)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Speler2token)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

<div>
    @if ((bool)ViewData["Connected"])
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("Maak je begonnen spel af.");
            };
        </script>
    }
</div>
