@model IEnumerable<ReversiMvcApp.Models.Spel>

@{
    ViewData["Title"] = "Home";
}

<h1>Spellen</h1>

<p>
    <a asp-action="Create">Nieuw spel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Token)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Omschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speler1token)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Speler2token)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Spel spel in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => spel.Token)
            </td>
            <td>
                @Html.DisplayFor(modelItem => spel.Omschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => spel.Speler1token)
            </td>
            <td>
                @Html.DisplayFor(modelItem => spel.Speler2token)
            </td>
            <td>
                @Html.ActionLink("Meespelen", "Details", spel)
            </td>
        </tr>
        }
    </tbody>
</table>

